<h3>{{titulo}}</h3>
<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Reg. Ativo</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas; let i = index;">
        <td>{{ pessoa.codigo }}</td>        
        <td>{{ pessoa.nome }}</td>
        <td><a (click)="editar(pessoa.codigo);">Editar</a></td>
        <td><a (click)="excluir(pessoa.codigo, i);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ pessoas.length }}</td> 
        </tr>
    </tbody>
</table>